[submodule "libraries/vendor/koinos-types"]
	path = libraries/koinos_types
	url = https://github.com/koinos/koinos-types.git
[submodule "host/boost"]
	path = host/boost
	url = https://github.com/boostorg/boost
